.imgs-container>img {
    cursor: pointer;
    max-width: 150px;
    max-height: 150px;
    margin-top: 10px;
    border-radius: 8px;
}

.logo {
    display: block;
    width: 400px;
    margin: 0 auto;
    opacity: 0.85;
}

#color {
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: lightblue;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../style-imgs/bg.jpg");
    align-items: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;

}

h1 {
    text-align: center;
    clear: both;
}

.imgs-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 700px;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}

.imgs-container img {
    cursor: pointer;
}

.meme-maker {
    margin-top: 20px;
    text-align: center;
}


.canvas-container {
    text-align: center;
    margin-top: 20px;
}

canvas {
    border: 1px solid #ccc;
    margin: 0 auto;
}

.choose-title {

    text-align: center;
}

.plus-size {
    width: 30px;
    height: 30px;
    background-image: url('ICONS/increase font - icon.png');
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;
}

.minus-size {
    width: 30px;
    height: 30px;
    background-image: url('ICONS/decrease font - icon.png');
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;

}

.btn-gallery {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: none;
    cursor: pointer;
    border-radius: 10px;

}

.btn-facebook {
    background-color: rgb(109, 109, 252);
    width: 40px;
    height: 40px;
    background-image: url('ICONS/facebook-logo.png');
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;

}

.btn-switch-line {
    width: 33px;
    height: 33px;
    background-image: url('ICONS/up-and-down-opposite-double-arrows-side-by-side.png');
    background-size: cover;
    background-position: center center;
    cursor: pointer;
    border-radius: 10px;

}

.btn-download {
    display: inline-block;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.hidden {
    display: none;
}

.buttons {
    display: block;
    margin: 0 auto;
    text-align: center;

    display: none;
}

.random-meme {
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 auto;

}

.random-meme:after {
    content: attr(alt);
    width: 20vw;
    height: 8vw;
    background-color: #3a0235;
    display: flex;
    align-items: center;
    justify-content: center;
}

.random-meme:hover {
    animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
    to {
        background-position: 20vw;
    }
}

.show-saved {
    display: block;
    margin: 0 auto;
    text-align: center;

    /* display: none; */
}

.saved-memes-container{
    display: block;
}